@import './variables.css';
@import './vendor/normalize.css';
@import './vendor/lightbox.css';
@import './vendor/papanasi.css';

html,
body {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--color-basic-darkest);
  background-color: var(--color-basic-brightest);
  box-shadow: inset 0 calc(var(--header-height-min) * 1.15) 0 var(--color-primary-normal);
  overflow-x: hidden;

  @media (--breakpoint-s) {
    box-shadow: inset 0 var(--header-height) 0 var(--color-primary-normal);
  }

  @media (--breakpoint-l) {
    font-size: 16px;
  }
}

::selection {
  color: var(--color-primary-darkest);
  background: var(--color-primary-brightest);
}

hr {
  display: none;
}

a,
a:active,
a:visited,
a:hover {
  color: var(--color-primary-normal);
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: underline;
}
