@import './variables.css';
@import './vendor/normalize.css';
@import './vendor/papanasi.css';

html,
body {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--color-basic-darkest);
  background-color: var(--color-basic-brightest);

  @media (--breakpoint-l) {
    font-size: 16px;
  }
}

::selection {
  color: var(--color-primary-darkest);
  background: var(--color-primary-brightest);
}
